//start imports
@import "~slick-carousel/slick/slick.css";
//end imports

//start vars
$breakpoint-m: 639px;
$breakpoint-l: 1199px;
//end vars

//start globals
body {
  overflow-x: hidden;
}

//end globals

//start utilities
.rotate-180-deg {
  transform: rotate(180deg);
}
.hidden-from-dom {
  position: absolute;
  height: 0;
  width: 0;
  left: -300vw;
}
//end utilities

//elevation

@mixin elevation-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@mixin elevation-2 {
  box-shadow: 0 3px 6px rgba(134, 113, 113, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@mixin elevation-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@mixin elevation-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@mixin elevation-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
//end utilities

//start doers
.card-3 {
  display: block;
  overflow: hidden;
  width: 175px;
  @media (min-width: $breakpoint-l) {
    width: 420px;
  }
  &__img-container {
    overflow: hidden;
  }
  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 120px;
    @media (min-width: $breakpoint-l) {
      height: 280px;
    }
    transition: 500ms;
  }
  &__text-1 {
    margin-top: 11px;
  }
  &__additional-link-1 {
    border-bottom: #51473f 1px solid;
  }
  &:hover {
    .card-3__img {
      transform: scale(1.05);
      transition: 500ms;
    }
    .dark-overlay-1 {
      opacity: 1;
      transition: 500ms;
    }
  }
}
//end doers

//start holders

//start slider 1
.full-width-slider {
  position: relative;

  //start configure slick
  .slick-list {
    overflow: initial !important;
  }

  .slick-slider {
    position: initial !important;
  }

  .slick-arrow svg {
    display: none;

    @media (min-width: $breakpoint-l) {
      display: block;
    }
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    fill: #fff;
    background-color: rgba(110, 101, 95, 0.7);
    border-radius: 50%;
    font-size: 60px;
    width: 39px;
    height: 39px;
    padding: 20.5px;
    cursor: pointer;

    &:hover {
      background-color: rgba(256, 256, 256, 0.7);
      fill: rgba(110, 101, 95, 1);
    }
  }

  .slick-prev svg {
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
  }
  .slick-next svg {
    right: 10px;
  }

  .slick-slide {
    margin: 0 5px;
  }
  .slick-list {
    margin: 0 -5px;
  }
  @media (min-width: $breakpoint-l) {
    .slick-slide {
      margin: 0 6px;
    }
    .slick-list {
      margin: 0 -6px;
    }
  }
  //end configure slick
}
//end slider 1

//start slider 2
.variable-slider {
  //start configure slick
  .slick-list {
    overflow: initial !important;
  }

  .slick-slider {
    position: initial !important;
  }

  .slick-arrow svg {
    display: none;

    @media (min-width: $breakpoint-l) {
      display: block;
    }
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    fill: #fff;
    background-color: rgba(110, 101, 95, 0.7);
    border-radius: 50%;
    font-size: 60px;
    width: 39px;
    height: 39px;
    padding: 20.5px;
    cursor: pointer;

    &:hover {
      background-color: rgba(256, 256, 256, 0.7);
      fill: rgba(110, 101, 95, 1);
    }
  }

  .slick-prev svg {
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
  }
  .slick-next svg {
    right: 10px;
  }

  .slick-disabled {
    display: none !important;
  }

  .slick-slide {
    margin: 0 5px;
  }
  .slick-list {
    margin: 0 -5px;
  }
  @media (min-width: $breakpoint-l) {
    .slick-slide {
      margin: 0 6px;
    }
    .slick-list {
      margin: 0 -6px;
    }
  }
  //end configure slick

  &__slide {
    margin: 27px;
    height: 750px;
    display: grid;
    &__inner {
      margin: auto;
    }
    &__img {
      max-width: 90vw;
      @media (min-width: $breakpoint-l) {
        max-width: 100%;
        max-height: 750px;
        object-fit: cover;
        object-position: center;
      }
    }
    &__description {
      margin-top: 5px;
      @media (min-width: $breakpoint-l) {
        margin-top: 10px;
      }
    }
  }
}
//end slider 2

//end holders

.card {
  display: block;
  margin: 0 5px;
  width: 416px;
  &__img {
    width: 416px;
    height: 277px;
    object-fit: cover;
    object-position: center;
  }
  &__title {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    margin-top: 30px;
    margin-right: 30px;
  }
  &__category {
    color: rgba(81, 71, 63, 0.7);
    font-size: 24px;
    line-height: 30px;

    margin-top: 3px;
  }
}

//mockup

.full-width-slider-mockup{
  $skeleton-color: #EBEAE9;
  display: grid;
  grid-template-columns: repeat(5, 420px);
  grid-gap: 10px;
  &__slide{
    &__img{
      height: 300px;
      background: $skeleton-color;
    }
    &__text-1, &__text-2{
      background: $skeleton-color;
      height: 20px;
      width: 100%;
      margin-top: 10px;
      border-radius: 3px;
    }
    &__text-2{
      width: 50%;
    }
  }
}
